/*Theme styling*/
.root {
    -fx-background-color: #121212;
}

#popupContainer {
    -fx-background-color: #121212;
    -fx-background-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

#loginContainer {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: white #3e3e3e #3e3e3e white;
    -fx-border-width: 3px 2px 2px 3px;
}

#primaryButton {
    -fx-background-color: #BB86FC;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#primaryButton:hover {
    -fx-background-color: #BB86FC73;
}



/*Combo box styling*/
.combo-box-base {
    -fx-background-radius: 5px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
}

.combo-box, .combo-box .list-view {
    -fx-font-size: 14px;
    -fx-background-color: #3e3e3e;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-padding: 5 0 5 0;
}

.combo-box:hover, .combo-box .list-cell:hover {
    -fx-background-color: #2a2a2a;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #BB86FC;
}



/*Title bar styling*/
#titleBar {
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 .5 0;
}

#titleBarMaxButton,
#titleBarMinButton,
#titleBarCloseButton {
    -fx-background-color: transparent;
}

#titleBarCloseButton:hover {
    -fx-background-color: #d5747445;
}

#titleBarMaxButton:hover {
    -fx-background-color: #3eb89745;
}

#titleBarMinButton:hover {
    -fx-background-color: #5fa3a345;
}



/*Navigation bar styling*/
#menuBar {
    -fx-background-color: #121212;
}

#menuBarButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}

#menuBarButton:hover {
    -fx-background-insets: 0;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #3e3e3e transparent;
    -fx-border-width: 7px;
}

#menuBarButtonClicked {
    -fx-background-color: transparent;
    -fx-font-size: 16px, 20px;
    -fx-background-insets: 0;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #BB86FC transparent;
    -fx-border-width: 7px;
}



/*TableView styles*/
.table-view {
    -fx-background-color: #3e3e3e;
    -fx-background-radius: 5 5 0 0;
    -fx-background-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: #8692fc;
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-alignment: center-left;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 60px;
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 0 20px;
}

.table-cell {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: Arial;
    -fx-alignment: top-left;
    -fx-padding: 18px 0 18px 18px;

    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #282828 transparent;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #3e3e3e;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover .table-cell {
    -fx-background-color: #28282845;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell {
    -fx-font-style: oblique;
    -fx-background-color: #BB86FC45;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background {
    -fx-background-color: #2a2a2a;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button,
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}



/*Alert box styling*/
#alertBox {
    -fx-background-color: #121212;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: white;
}

#alertBox-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#alertBox-content {
    -fx-text-fill: white;
}


.dialog-pane > *.button-bar > *.container{
    -fx-background-color: #121212;
}

.dialog-pane > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #cf6679;
}

.dialog-pane *.header-panel{
    -fx-background-color: #121212;
}

.dialog-pane *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #cf6679;
}