#loginContainer {
  -fx-background-color: transparent;
  -fx-border-color: white;
  -fx-border-width: 2px;
  -fx-border-radius: 5px;
}

#mainContainer {
    -fx-background-color: #121212;
}

#primaryButton {
    -fx-background-color: #BB86FC;
}

#secondaryButton {
    -fx-background-color: #03DAC6;
}

#secondaryButton:hover {
    -fx-background-color: #03DAC673;
}

#menuBar {
    -fx-background-color: #121212;
}

#menuBarButton {
    -fx-background-color: transparent;
}

#menuBarButton:hover {
    -fx-background-color: #313131;
}

#menuBarButtonClicked {
    -fx-background-color: #BB86FC;
}


/*TableView styles*/
.table-view {
    -fx-background-radius: 14 14 0 0;
    -fx-background-color: #282828;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#282828, #121212 85%, #282828);
    -fx-background-radius: 14 14 0 0;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-cell {
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: linear-gradient(#282828, #121212 80%, #282828);
}

.table-row-cell:even {
    -fx-background-color: linear-gradient(#282828, #3e3e3e 80%, #282828);
}
