/*Theme styling-------------------------------------------------------------------------------------------------------*/
.root {
    -fx-background-image: url(../../images/background.jpg);
    -fx-background-size: cover;
}

.root:disabled {
    -fx-max-width: infinity;
    -fx-effect: innershadow(gaussian, rgba( 0, 0, 0, 0.3), 5000, 5000, 5000, 5000);
}

#root {
    -fx-background-image: url(../../images/background.jpg);
    -fx-background-size: cover;
}

#transparent {
    -fx-background-image: none;
    -fx-background-color: transparent;
}

#popupContainer {
    -fx-background-color: #121212;
    -fx-background-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
}

#loginContainer {
    -fx-background-color: #121212;
    -fx-background-insets: 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: white;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 7px;
    -fx-background-radius: 8px;
}

#tableBarContainer {
    -fx-background-color: #121212;
    -fx-background-insets: 0;
    -fx-border-style: solid solid none solid;
    -fx-border-color: white white transparent white;
    -fx-border-width: 3px;
}

#tableContainer {
    -fx-background-color: #121212;
    -fx-background-insets: 0;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: white white white white;
    -fx-border-width: 3px;
}

#primaryButton {
    -fx-background-color: #BB86FC;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#primaryButton:hover {
    -fx-background-color: #BB86FC73;
    -fx-text-fill: white;
}

#editButton {
    -fx-background-color: #00a293;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#editButton:hover {
    -fx-background-color: #00a29373;
}

#deleteButton {
    -fx-background-color: #CF6676;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#deleteButton:hover {
    -fx-background-color: #CF667673;
}

#checkInButton {
    -fx-background-color: #660066;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#checkInButton:hover {
    -fx-background-color: rgba(102, 0, 102, 0.68);
}

#viewButton {
    -fx-background-color: #2994c1;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#viewButton:hover {
    -fx-background-color: #2994C173;
}

#billingButton {
    -fx-background-color: #c18c29;
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
}

#billingButton:hover {
    -fx-background-color: #c18c2973;
}


/*Images--------------------------------------------------------------------------------------------------------------*/
#successImage {
    -fx-image: url(../../images/success.png);
}

#warningImage {
    -fx-image: url(../../images/warning.png);
}

#errorImage {
    -fx-image: url(../../images/error.png);
}

#closeImage {
    -fx-image: url(../../images/close.png);
}

#maximizeImage {
    -fx-image: url(../../images/circle.png);
}

#minimizeImage {
    -fx-image: url(../../images/minus.png);
}

#progressSpinner {
    -fx-image: url(../../images/spinner.gif);
}


/*Combo box styling---------------------------------------------------------------------------------------------------*/
/*Combo box header*/
.combo-box-base {
    -fx-background-color: #444444;
    -fx-background-radius: 5px;
    -fx-padding: 6 0 6 0;
}

.combo-box {
    -fx-font-size: 14px;
    -fx-background-color: #444444;
}

.combo-box:hover {
    -fx-background-color: #383838;
}

.combo-box:focused {
    -fx-background-color: #383838;
}

.combo-box:focused:hover {
    -fx-background-color: #3e3e3e;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Arial;
}

/*Combo box list*/
.combo-box .list-view {
    -fx-font-size: 14px;
    -fx-background-color: #5b5b5b;
}

.combo-box-popup .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-padding: 10 0 10 10;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #28282845;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #BB86FC;
}

.combo-box .scroll-bar:vertical {
    -fx-background-color: #8692fc;
    -fx-font-size: 7px;
}

.combo-box .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.combo-box > .corner {
    -fx-background-color: black;
}


/*Title bar styling---------------------------------------------------------------------------------------------------*/
#titleBar {
    -fx-background-color: #121212;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 .5 0;
}

#titleBarMaxButton,
#titleBarMinButton,
#titleBarCloseButton {
    -fx-background-color: transparent;
}

#titleBarCloseButton:hover {
    -fx-background-color: #d5747445;
}

#titleBarMaxButton:hover {
    -fx-background-color: #3eb89745;
}

#titleBarMinButton:hover {
    -fx-background-color: #5fa3a345;
}


/*Navigation bar styling----------------------------------------------------------------------------------------------*/
#menuBar {
    -fx-background-color: #121212;
}

#menuBarButton {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}

#menuBarButton:hover {
    -fx-background-insets: 0;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #444444 transparent;
    -fx-border-width: 7px;
}

#menuBarButtonClicked {
    -fx-background-color: transparent;
    -fx-font-size: 16px, 20px;
    -fx-background-insets: 0;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #BB86FC transparent;
    -fx-border-width: 7px;
}


/*TableView styles----------------------------------------------------------------------------------------------------*/
.table-view {
    -fx-background-color: #444444;
    -fx-background-radius: 5 5 0 0;
    -fx-background-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: #8692fc;
    -fx-background-insets: 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-alignment: center-left;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 60px;
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 0 20px;
}

.table-cell {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-family: Arial;
    -fx-alignment: top-left;
    -fx-padding: 18px 0 18px 18px;

    -fx-border-style: none none solid none;
    -fx-border-color: transparent transparent #282828 transparent;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #444444;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover .table-cell {
    -fx-background-color: #28282845;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .table-cell {
    -fx-font-style: oblique;
    -fx-background-color: #BB86FC45;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background {
    -fx-padding: 0;
    -fx-background-color: #8692fc;
    -fx-font-size: 2ex;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 0;
    -fx-shape: "";
}

#smallTableContent .table-cell {
    -fx-font-size: 14px;
    -fx-padding: 10px 0 10px 20px;
}


/*Alert box styling---------------------------------------------------------------------------------------------------*/
#alertBox {
    -fx-background-color: #121212;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: white;
}

#alertBox-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#alertBox-content {
    -fx-text-fill: white;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: #121212;
}

.dialog-pane > .label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #cf6679;
}

.dialog-pane .header-panel {
    -fx-background-color: #121212;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #cf6679;
}


/*Scroll Pane Styling-------------------------------------------------------------------------------------------------*/
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #8692fc;
    -fx-font-size: 2ex;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}